/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="text"],
form input[type="date"] {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #218838;
}

.filter-buttons,
.clear-buttons {
  margin-top: 20px;
}

.filter-buttons button,
.clear-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons button:hover,
.clear-buttons button:hover {
  background-color: #218838;
}

.clear-buttons button {
  background-color: #dc3545;
}

.clear-buttons button:hover {
  background-color: #c82333;
}

.todo-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 30px auto 0 auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: red;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.todo-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.todo-text span:first-child {
  margin-right: 20px; /* Space between name and date */
  flex-grow: 1; /* Align name to the left */
  text-align: left; /* Align name to the left */
}

.todo-text .todo-date {
  margin-right: 100px; /* Increase space between date and name */
  font-size: 1em; /* Slightly increase the font size of the date */
}

.todo-item button {
  padding: 0;
  font-size: 14px;
  margin-right: 5px;
  background-color: #ffc107;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 20px; /* Decrease the button width */
  height: 20px; /* Decrease the button height */
}

.todo-item button:hover {
  background-color: #e0a800;
}

.todo-item button.delete {
  background-color: white;
  border: 1px solid #dc3545;
  width: 30px; /* Decrease the button width */
  height: 30px; /* Decrease the button height */
}

.todo-item button.delete:hover {
  background-color: #f8d7da;
}

.clear-buttons {
  display: flex;
  justify-content: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.icon-button img {
  width: 20px;
  height: 20px;
}

.icon-button.delete img {
  filter: none;
}

.icon-button.edit img {
  filter: invert(69%) sepia(20%) saturate(733%) hue-rotate(336deg) brightness(95%) contrast(92%);
}

.icon-button.checkbox img {
  filter: invert(38%) sepia(79%) saturate(1783%) hue-rotate(90deg) brightness(91%) contrast(96%);
}

/* Popup Styles */

/* Ensure the popup covers the entire screen */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the popup is above other elements */
  pointer-events: all; /* Allow interactions with the popup */
}

.popup-inner {
  position: relative;
  padding: 30px;
  width: 60%; /* Increase the width as needed, or set a specific width in pixels */
  max-width: 700px; /* Set a maximum width if required */
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Optional: adds shadow for better visibility */
}

.popup-inner input[type="text"],
.popup-inner input[type="date"] {
  width: 90%; /* Adjust the width percentage as necessary */
  padding: 15px;
  margin-bottom: 20px; /* Increase space between inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  flex: 1;
  margin: 0 5px;
  padding: 15px 0; /* Increase button height */
  font-size: 18px; /* Increase button font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center the text horizontally */
}

/* Update button colors and hover effects */
.button-container .save-button {
  background-color: #007bff; /* Change to a blue color */
  color: white;
}

.button-container .save-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.button-container .cancel-button {
  background-color: #6c757d; /* Change to a gray color */
  color: white;
}

.button-container .cancel-button:hover {
  background-color: #5a6268; /* Darker gray on hover */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.todo-date {
  color: gray;
  font-size: 1em;
}

/* Customize react-datepicker CSS */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 70%;
}

.react-datepicker__input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
}
